* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.batepapo{
    float: left;
}
body {
    background-color: #FFC0CB;
}
.status{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: green;
}
#meio {
    background: #D1EEEE;
    width: 900px;
    height: 600px;
    margin: 20px;
}
#topo1 {
    float: left;
    width: 300px;
    height: 100%;
}
#topo {
    background: #ccc;
    padding: 10px;
    overflow: auto;
}
#topo img, #conteudo-titulo img {
    float: left;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: #ccc;
}
#topo .buttons, #conteudo-titulo .buttons {
    float: right;
    color: #999;
}
#topo .buttons i, #conteudo-titulo .buttons i {
    margin: 8px;
    cursor: pointer;
}

.item-contato {
    border-bottom: 1px solid #EEE;
    overflow: auto;
    line-height: 22px;
    text-align: left;
    cursor: pointer;
    line-height: 19px;
    
}
.item-contato img {
    float: left;
    width: 47px;
    height: 47px;
    background: #DDD;
    margin: 8px 12px;
    border-radius: 50%;
}

.item-contato b, .item-contato span {font-size: 15px; display: block; overflow: auto;}
.item-contato b {margin-top: 12px; font-weight: normal;}
.item-contato span {color: #666;}

.item-contato i {
    float: right;
    margin: 10px 12px 0;
    font-style: normal;
    color: #999;
    font-size: 14px;
}

#conteudo {
    float: left;
    width: 600px;
    height: 100%;
    background-size: 400px;
    background-attachment: fixed;
    border-left: 1px solid #DDD;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#conteudo-titulo {
    background: #EEE;
    padding: 10px;
    overflow: auto;
    line-height: 16px;
    text-align: left;
    border-top-right-radius: 5px;
}
#conteudo-titulo b {font-size: 15px; font-weight: normal;}
#conteudo-titulo span {font-size: 10px; color: #555;}

#lista-mensagens {
    overflow-y: scroll;
    height: calc(100% - 106px);
    padding: 15px 25px;
}

.item-msg {
    margin: 2px 0;
    font-size: 14px;
    color: #111;
}
.item-msg div i {
    font-style: normal;
    float: right;
    color: #777;
    font-size: 11px;
    margin: 3px 0 0 20px;
}
.item-esq {text-align: left;}
.item-dir {text-align: right;}

.msg-esq, .msg-dir {
    border-radius: 6px;
    max-width: 70%;
    display: inline-block;
    padding: 7px;
}
.msg-esq {background: #FFF;}
.msg-dir {background: #dcf8c6;}

#campo-mensagem {
    background: #EFEFEF;
    padding: 8px;
    overflow: auto;
    border-bottom-right-radius: 5px;
}
#campo-mensagem input {
    border: none;
    width: 475px;
    padding: 10px;
    border-radius: 7px;
    display: block;
    float: left;
}
#campo-mensagem i {
    margin: 5px 15px;
    color: #999;
    display: block;
    float: left;
    cursor: pointer;    
}